{% extends "layout.html" %}
{% with bg='bg-dark' %}
  {% include 'navbar.html' %}
{% endwith %}
{% block title %}{{ entity.name }}{% endblock %}
{% block content %}
  <link rel="stylesheet" href="/static/css/map.css">
  <link rel="stylesheet" href="/static/node_modules/leaflet/dist/leaflet.css">
  <link rel="stylesheet" href="/static/node_modules/leaflet.markercluster/dist/MarkerCluster.css">
  <link rel="stylesheet" href="/static/node_modules/leaflet.markercluster/dist/MarkerCluster.Default.css">
  <link rel="stylesheet"
        href="/static/node_modules/leaflet-groupedlayercontrol/dist/leaflet.groupedlayercontrol.min.css">
  <link rel="stylesheet" href="/static/node_modules/leaflet.fullscreen/Control.FullScreen.css">

  <div class="container mt-3 mb-5">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="{{ url_for('projects') }}" class="link-primary">{{ _('projects') }}</a>
        </li>
        <li class="breadcrumb-item">
          <a href="{{ url_for('projects', title=path[0]) }}" class="link-primary">{{ path[0] }}</a>
        </li>
        <li class="breadcrumb-item">
          <a href="{{ url_for('project_explore_table',
          project=path[0],  view=system_classes[entity.system_class | lower]) }}"
             class="link-primary">{{ system_classes[entity.system_class | lower] }}</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">
          {{ entity.name }}
        </li>
      </ol>
    </nav>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-10">
        <h2 class="text-primary">{{ entity.name }}</h2>
      </div>
      <div class="col text-end">
        <div class="pt-2 btn-group text-end">
          <a href="{{ config['API_PATH'] }}/entity/{{ entity.id_ }}"
             target="_blank" class="btn btn-outline-primary">
            <i class="bi bi-filetype-json fs-3"></i>
          </a>
          <a href="{{ config['API_PATH'] }}entity/{{ entity.id_ }}?format=pretty-xml"
             target="_blank" class="btn btn-outline-primary">
            <i class="bi bi-filetype-xml fs-3"></i>
          </a>
          <a href="{{ config['API_PATH'] }}entity/{{ entity.id_ }}?export=csv"
             target="_blank" class="btn btn-outline-primary">
            <i class="bi bi-filetype-csv fs-3"></i>
          </a>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-6 row">
        <div class="col-12">
          <p>{{ entity.alias }}</p>
          <div class="pt-3">
            {% if entity.begin %}
              <span class="fw-bold">Begin</span> {{ entity.begin }}
              <br/>
            {% endif %}
            {% if entity.end %}
              <span class="fw-bold">End</span> {{ entity.end }}
            {% endif %}
          </div>
        </div>
        <div class="col-12 pt-3">
          <h3 class="text-primary">{{ _('properties') }}</h3>
          <table class="table table-striped hover order-column w-100">
            <tr>
              <th class="table-active">ID</th>
              <td>{{ entity.id_ }}</td>
            </tr>
            <tr>
              <th class="table-active">System Class</th>
              <td>
                {{ entity.system_class }}
              </td>
            </tr>
            {% if type_hierarchy %}
              {% for key, value in type_hierarchy.items() %}
                <tr>
                  <th class="table-active">{{ key }}</th>
                  <td>
                    {% for type in value %}
                      {{ type_popover(type) }}{% if loop.last %}{% else %},{% endif %}
                    {% endfor %}
                  </td>
                </tr>
              {% endfor %}
            {% endif %}
          </table>
        </div>
        <div>
          {% if entity.links %}
            {% for system in entity.links %}
              <a href="{{ system.identifier }}"
                 class="btn btn-accent2 px-2 py-1 pill"
                 target="_blank">
                {{ system.referenceSystem }}
              </a>
            {% endfor %}
          {% endif %}
        </div>
      </div>
      <div class="col-6 pt-5">
        <div id="map"></div>
      </div>
    </div>

    <div class="row pt-5">
      {% if entity.description %}
        <div class="col-md-12 pt-3">
          <h3 class="text-primary">{{ _('Description') }}</h3>
          <div id="description">
            <p class="">
              {{ entity.description
              | replace('\n', '<br>')
              | replace('Hist.:', '<span class="fst-italic">Hist.:</span>')
              | replace('Mon.:', '<span class="fst-italic">Mon.:</span>')
              | safe }}
            </p>
          </div>
        </div>
      {% endif %}

      {% if relations['references'] %}
        <div class="col-md-12 pt-3">
          <h3 class="text-primary">{{ _('literature') }}</h3>
          {% for reference in relations['references'] %}
            <a tabindex="0" class="text-decoration-none fst-italic link-primary" role="button" data-bs-toggle="popover"
               data-bs-trigger="focus"
               title="<a href='{{ url_for('entity_project_view', id_=reference.relation_to_id, project=path[0], view=path[1]) }}'
                        class='text-decoration-none link-primary'>{{ reference.label }}</a>"
               data-bs-content="<p class=''>{{ reference.description }}</p>
                                  <a href='{{ url_for('entity_project_view', id_=reference.relation_to_id, project=path[0], view=path[1]) }}'
                                  class='text-decoration-none btn btn-accent2'>{{ reference.label }}</a>">
              {{ reference.label }}{% if reference.relation_description %} —
                {{ reference.relation_description }}{% endif %}</a>
            {% if loop.last %}{% else %}, {% endif %}
          {% endfor %}
        </div>
      {% endif %}

      <div class="col-md-12 pt-5">
        {% for key, value in relations.items() if key not in ['types', 'references'] %}
          {% if loop.first %}<h3 class="text-primary">Relations</h3>{% endif %}
          <h5 class="pt-3 text-primary">
            {{ key | replace('_', ' ') | title }} ({{ value|length }})
            <a class="btn btn-accent2 p-1" data-bs-toggle="collapse"
               href="#collapse-{{ key }}" role="button" aria-expanded="false"
               aria-controls="collapse-{{ key }}">
              <i class="bi bi-caret-down-fill" onclick="myFunction(this)"></i>
            </a>
          </h5>

          <div class="collapse" id="collapse-{{ key }}">
            <div class="card card-body">
              <table class="table table-striped hover order-column w-100"
                     id="table-{{ key }}">
                <thead>
                <tr>
                  <th>Name</th>
                  <th>Class</th>
                  {% if key in ['events','actors', 'places'] %}
                    <th>Begin</th>
                    <th>End</th>
                  {% endif %}
                  {% if key in  ['actors'] %}
                    <th>Relation Type</th>
                  {% endif %}
                  <th>Description</th>
                </tr>
                </thead>

                {% for item in value %}
                  <tr>
                    <td><a
                        href="{{ url_for('entity_project_view', id_=item.relation_to_id, project=path[0], view=path[1]) }}"
                        class="text-decoration-none link-primary">
                      {{ item.label }}
                    </a>
                    </td>
                    <td>
                      {{ item.system_class }}
                    </td>
                    {% if key in ['events','actors', 'places'] %}
                      <td>
                        {% if item.begin %}
                          {{ item.begin }}
                        {% endif %}
                      </td>
                      <td>
                        {% if item.end %}
                          {{ item.end }}
                        {% endif %}
                      </td>
                    {% endif %}
                    {% if key in  ['actors'] %}
                      <td>
                        {% if item.type %}
                          {{ item.type }}
                        {% endif %}
                      </td>
                    {% endif %}
                    <td>
                      {{ item.description }}
                    </td>
                  </tr>
                {% endfor %}
              </table>
            </div>
          </div>
          <script>
              $(document).ready(function () {
                  var indexLastColumn = $('#table-{{ key }}').find('tr')[0].cells.length - 1;
                  $('#table-{{ key }}').dataTable({
                      "paging": true,
                      "autoWidth": false,
                      "ordering": true,
                      "info": true,
                      "searching": true,
                      "pageLength": 10,
                      "columnDefs": [
                          {"width": "20%", "targets": 0},
                          {
                              targets: indexLastColumn,
                              render: DataTable.render.ellipsis(300, true)
                          }]
                  });
              });
          </script>
        {% endfor %}
      </div>


      {% if entity.depictions %}
        <h3 class="text-primary">{{ _('files') }}</h3>
        <div class="row pt-5">
          {% for list in images %}
            {% for img in list if img.public_shareable %}
              <div class="col-lg-2 d-flex justify-content-center align-items-center">
                <figure>
                  <a href="{{ img.url }}" data-fancybox="gallery"
                     data-caption="{{ img.title }}{% if img.description %} - {{ img.description }}{% endif %}">
                    <img src="{{ img.url + '?image_size=thumbnail' }}"
                         class="img-fluid mx-auto d-block" alt="{{ img.title }}">
                  </a>
                  <figcaption class="small text-center pt-1 text-break">{{ img.title }}</figcaption>
                </figure>
              </div>
            {% endfor %}
          {% endfor %}
        </div>
      {% endif %}
    </div>
  </div>
  <script>
      Fancybox.bind("[data-fancybox]", {
          // Your custom options
      });
  </script>

  {#  <script>#}
  {#      $(document).ready(function () {#}
  {#          let desc = $('#description');#}
  {#          let str = desc.text();#}
  {##}
  {##}
  {#          if (str.length > 300) {#}
  {##}
  {#              desc.empty().html(str.substring(0, 500));#}
  {##}
  {#              let moreLink = '... <a href="#" class="read_more btn btn-violet-light">Read more</a>';#}
  {#              desc.append(moreLink);#}
  {##}
  {#              $('.read_more').on('click', function (e) {#}
  {#                  e.preventDefault();#}
  {#                  desc.empty().html(str);#}
  {#              });#}
  {##}
  {#          }#}
  {##}
  {#      });#}
  {#  </script>#}
  <script>
      function myFunction(x) {
          x.classList.toggle("bi-caret-up-fill");
      }
  </script>
  <script>
      const gisData = {%  if entity.geometry %}{{ entity.geometry | safe }}{% else %}null
      {% endif %}
      const gisRelatedPlaces = {%  if related_places %}{{ related_places | safe }}{% else %}null
      {% endif %}
      const entityName = '{{ entity.name | safe }}'
  </script>
  <script src="/static/node_modules/leaflet/dist/leaflet.js"></script>
  <script src="/static/node_modules/leaflet.markercluster/dist/leaflet.markercluster.js"></script>
  <script src="/static/node_modules/leaflet-groupedlayercontrol/dist/leaflet.groupedlayercontrol.min.js"></script>
  <script src="/static/node_modules/leaflet.fullscreen/Control.FullScreen.js"></script>
  <script src="/static/node_modules/leaflet-imageoverlay-rotated/Leaflet.ImageOverlay.Rotated.js"></script>
  <script src="/static/node_modules/@mapbox/leaflet-pip/leaflet-pip.js"></script>
  <script src="/static/js/map.js"></script>

{% endblock %}


{% macro type_popover(type) %}

  <a tabindex="0" class="text-decoration-none fst-italic link-primary" role="button" data-bs-toggle="popover"
     data-bs-trigger="focus"
     title="{{ type.hierarchy }} > <a href='{{ url_for('entity_project_view', id_=type.identifier, project=path[0], view=path[1]) }}'
            class='text-decoration-none link-primary'>{{ type.label }}</a>"
     data-bs-content="{% if type.description %}<p>{{ type.description }}</p>{% endif %}">
    {{ type.label }}</a>
{% endmacro %}

