bcrypt==4.0.1
calmjs==3.4.2
flask-babel==1.0.0
flask-cors==3.0.9
flask-wtf==0.14.3
Flask==1.1.2
fuzzywuzzy==0.18.0
itsdangerous==1.1.0
jinja2==2.11.3
markdown==3.3.4
MarkupSafe==1.1.1
python-gettext==4.0
python-Levenshtein==0.20.8
requests==2.28.1
werkzeug==1.0.1
wtforms==2.2.1
libsass==0.22.0