{% extends "layout.html" %}
{% block content %}

  <section class="hero-section">
    {#    <video autoplay loop muted playsinline class="hero-video">#}
    {#      <source src="/static/video/intro_1080p.mp4" type="video/mp4">#}
    {#    </video>#}
    <iframe
        src="https://www.youtube-nocookie.com/embed/xF5oxko1SWg?autoplay=1&controls=0&disablekb=1&loop=1&modestbranding=1&playsinline=1&color=white&mute=1&
        &playlist=xF5oxko1SWg"
        class="yt-background" allowFullScreen allow="autoplay"></iframe>
    <div class="overlay bg-dark " style="--bs-bg-opacity: .7;">
      {% include 'navbar.html' %}
      {#      <h1 class="mx-auto">Welcome to Maps of Power</h1>#}
      {#      <img src="/static/images/mop_logo.svg"#}
      {#           alt="Maps of Power Logo" height="500"#}
      {#           class="d-inline-block align-text-top mx-auto">#}
    </div>
  </section>

  <section class="pt-5">
    <div class="container text-center text-dark">
      <p class="fs-5">
        {{ _('about_text_1') }}
      </p>
      <p class="fs-5">
        {{ _('about_text_2') }}
      </p>
      <div class="categories row">
        {{ category_images }}
      </div>
      <p class="fs-5">
        {{ _('about_text_3') }}
      </p>
      <p class="fs-5">
        {{ _('about_text_4') }}
      </p>
      <p class="fs-5">
        {{ _('about_point_1') }}
      </p>
      <p class="fs-5">
        {{ _('about_point_2') }}
      </p>
      <p class="fs-5">
        {{ _('about_text_5') }}
      </p>
      <p class="fs-5">
        {{ _('about_text_6') }}
      </p>
      <p class="fs-5">
        {{ _('about_text_7') }}
      </p>
    </div>
  </section>

  <section>
    <h2 class="text-primary display-5 text-center">{{ _('events') }}</h2>
    <div class="container py-2">
      <div class="row" data-masonry='{"percentPosition": true }'>
        {% for event in events %}
          <div class="col-sm-4 col-md-3 py-3">
            <div class="card border-primary">
              <img src="{{ url_for('static', filename='images/' + event['icon']) }}"
                   class="card-img-top"
                   alt="{{ event['id'] }} Image">
              <div class="card-body">
                <h3 class="card-title fs-5">{{ event['title'] }}</h3>
                <p class="card-text">{{ event['description'] }}</p>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </section>

  <section>
    <div class="container text-center text-dark">
      <p class="fs-5">
        {{ _('vienna_manifesto') }}
      </p>
    </div>
  </section>
  <script>
      window.addEventListener('load', function () {
          baguetteBox.run('.categories', {
              animation: 'fadeIn',
              noScrollbars: true,
              titleTag: true,
              overlayBackgroundColor: 'rgba(56,67,86, 0.8)'
          });
      });
  </script>
{% endblock %}