{% extends "layout.html" %}
{% block content %}

  <section class="hero-section">
    <video autoplay loop muted playsinline class="hero-video">
      <source src="/static/video/lamb.mp4" type="video/mp4">
    </video>
    <div class="overlay">
      <h1 class="text-center mx-auto">Welcome to Maps of Power</h1>
    </div>
  </section>

  <section class="pt-5">
    <div class="container text-center text-dark">
      <h1 class="text-primary">Maps of Power</h1>
      <h1 class="text-secondary">Maps of Power</h1>
      <p class="text-start fs-5">
        The research initiative “Maps of Power” serves the methodological and
        interdisciplinary networking of scholars from the field of Historical
        Geography. The initiative, which has been running since 2019 under the
        title “Maps of Power: Historical Atlas of Places, Borderzones and
        Migration Dynamics in Byzantium (TIB Balkans)”, grew out of the idea of
        deepening historical-geographical research methodologically and placing
        it on a broader level in terms of content. Based on the scholarly
        project “Tabula Imperii Byzantini (TIB)”, which has been successfully
        conducted at the Austrian Academy of Sciences (Vienna) since 1966, the
        initiative intends to expand the spatial focus of the TIB on the
        Byzantine area in order to include other European areas in the Middle
        Ages as well. The successfully completed cluster project “Digitising
        Patterns of Power (DPP): Peripherical Mountains in the Medieval World”
        [https://dpp.oeaw.ac.at/] can be seen as a pilot project in this
        respect.
      </p>
      <p class="fs-5">
        In order to do justice to this new idea of spatial expansion, the
        previous title of the research initiative will be renamed “Maps of
        Power – Karten der Macht”, which will allow for larger thematic depth
        and a longer temporal breadth.
      </p>
      <p class="fs-5">
        The research perspectives of the TIB until now as a representative of
        the research branch Historical Geography of the Byzantine Empire
        essentially dealt with four categories of historical sources:
      </p>
      <div class="categories row">
        {% for key, img in category_images.items() %}
          <div class="col-lg-3">
            <figure class="figure">
              <a href="{{ url_for('static', filename=img['src']) }}"
                 data-caption="{{ img['description'] }}">
                <img src="{{ url_for('static', filename=img['src']) }}"
                     alt="{{ key }}" class="img-fluid">
              </a>
              <figcaption class="figure-caption">{{ img['caption'] }}</figcaption>
              <p>{{ img['description'] }}</p>
            </figure>
          </div>
        {% endfor %}

      </div>
    </div>

  </section>

  <script>
    window.addEventListener('load', function () {
      baguetteBox.run('.categories', {
        animation: 'fadeIn',
        noScrollbars: true,
        titleTag: true,
        overlayBackgroundColor: 'rgba(56,67,86, 0.8)'
      });
    });
  </script>
{% endblock %}