{% extends "layout.html" %}
{% block content %}



  <section class="hero-section">
  <video autoplay loop muted playsinline class="hero-video">
    <source src="/static/video/lamb.mp4" type="video/mp4">
  </video>
  <div class="container-fluid overlay">
    <div class="row align-items-center">
      <div class="col-md-6">
        <h1>Hero Section Heading</h1>
        <p>Some descriptive text or subheading</p>
        <a href="#" class="btn btn-primary">Call to Action</a>
      </div>
    </div>
  </div>
</section>


{% endblock %}