<div class="row">

  <div class="pt-5">
    <div class="row justify-content-md-center">
      {% for view, values in view_classes.items() %}
        <a href="https://tib.oeaw.ac.at/balkan/explore/holdura/actor"
           class="{{ view }}-background  rounded-3 col-md-8 col-xl-6 col-xxl-3 p-5 m-3 oa-access-tab-boxes">
          <div class="">
            <p class="fw-bold">{{ values['display_name'] }}</p>
            <p class="fst-italic">{{ values['description'] }}</p>
          </div>
        </a>
      {% endfor %}
    </div>
  </div>
  <p class="small">
    {{ _('The access and use of our data is subject to the Creative Commons License CC BY 4.0 (<a href="https://creativecommons.org/licenses/by/4.0/">https://creativecommons.org/licenses/by/4.0/</a>).') }}

  </p>
</div>


