{% extends "layout.html" %}
{% block content %}
  <div class="container">
    <img src="{{ url_for('static', filename='/images/histgeo_logo.png') }}"
         alt="Logo Historical Geography" class="img-fluid my-5">

    <p>
      New thoughts and ideas are transforming Historical Geography, as are for example Digital Humanities and a wide
      range of new methodologies (like GIS – Geographic Information System and HGIS – Historical Geographic Information
      System). Therefore, new methods and theories are increasingly and at a fast pace being applied to the Historical
      Geography of Byzantium and adjacent areas (i.e. South-East Europe and Eastern Europe).
    </p>

    <p>
      This international publication series aims to present original research in the fields of Historical Geography,
      Byzantine Studies, Medieval Studies, Balkan Studies, Archaeology, Geography, Cartography, GIS / HGIS and Cultural
      Heritage. We invite manuscripts – monographs as well as conference proceedings – from a broad range of all these
      scholarly fields, with a focus on the regions of the former Byzantine Empire, especially South-East Europe and
      Eastern Europe, and we particularly welcome interdisciplinary approaches.
    </p>

    <p>


    </p>
    <h2 class="text-accent3 text-center mt-5">Digital HistGeo Lecture Series</h2>
    <p>
      In order to communicate scholarly results of the “Tabula Imperii Byzantini (TIB) Balkans” of the Austrian Academy
      of Sciences and its related sub-projects to national and international scholars, students as well as the
      interested public in Vienna, Austria and the world, Mihailo Popović, Veronika Polloczek, Bernhard
      Koschiček-Krombholz and Vratislav Zervan have initiated together the “HistGeo Lecture Series” in Vienna in January
      2019 (in succession of the “DPP Lecture Series” founded in January 2017).

    </p>
    <p>
      Initially, we had started with lectures in presence in Vienna, which were unfortunately interrupted by the COVID
      pandemic. Therefore, we have decided to stage them online starting with January 2023. They are now called the
      "Digital HistGeo Lecture Series" and we try to stage them quarterly each year (roughly in March, June, September
      and December).

    </p>
    <p>
      Our aim is to present papers containing our own research, but also to attract and invite speakers, the papers of
      which have the potential to foster discussions on new methods and digital tools in the fields of Medieval History,
      Byzantine Studies, Balkan Studies, Historical Geography, Cartography, Digital Humanities, GIScience and Software
      Engineering.
    </p>

    <h2 class="text-accent3 text-center mt-5">HistGeo Newsletter</h2>
    <div class="row">
      <div class="col-8">
        <p>
          Our HistGeo Newsletter informs you twice a year – in the months of June and December – on scholarly
          activities,
          cooperations, progress, results and new publications, which have been achieved as cornerstones of the
          initiative
          Maps of Power. Formerly, we published the Newsletter four times a year, but we have shifted it to two editions
          per
          year since 2022.
        </p>
        <p>
          In the Newsletter’s reports we focus on the fields of Historical Geography, Historical Atlases, Mapping,
          Digital
          Mapping and Digital Humanities in general. It aims at highlighting the scholarly activities of scholars
          involved
          in the initiative Maps of Power and the TIB Balkans as well as colleagues from other fields of study.
        </p>
        <p>
          Please feel free to browse our archive of Newsletters. If you have any questions or remarks, please do contact
          us
          via ***e-Mail mapsofpower***
        </p>
      </div>
      <div class="col">
        <iframe src="https://t210d45f9.emailsys2a.net/180/1051/a33e665ee4/subscribe/form.html?_g=1679918436"
                width="100%" height="550"></iframe>
      </div>
    </div>


    <h2 class="text-accent3 text-center mt-5">Citation Rules and Fonts</h2>
    <p>
      Our Series is published by the publishing house <a href="https://akademskaknjiga.com/?lang=en" target="_blank"
                                                         class="fw-bold link-primary">"Akademska knjiga" in Novi Sad,
      Serbia</a>, which was founded in July
      2006 with the aim of publishing important scholarship in the Social Sciences and the Humanities by national and
      international authors.
    </p>
    <div class="row">
      <div class="col text-center">
        <h3 class="text-accent3 fs-5 mt-5">Citation Rules</h3>
        <p>
          When preparing a manuscript for our series, please use the following instructions:
        </p>
        <a
          href="{{ url_for('static', filename='repository/Studies-in-Historical-Geography-and-Cultural-Heritage_Instructions.pdf' ) }}"
          class="link-secondary" target="_blank">
          <i class="bi bi-filetype-pdf fs-1"></i>
          <p class="link-primary">Rules of citation</p>
        </a>
      </div>
      <div class="col text-center">
        <h3 class="text-accent3 fs-5 text-center mt-5">Fonts</h3>
        <p>
          Please use following Fonts for Old Church Slavonic:
        </p>
        <div class="row">
          <div class="col text-center">
            <a href="{{ url_for('static', filename='/fonts/BukyVede-Italic.ttf') }}"
               class="link-secondary" target="_blank">
              <i class="bi bi-filetype-ttf fs-1"></i>
              <p class="link-primary">BukyVede-Italic.ttf</p>
            </a>
          </div>
          <div class="col text-center">
            <a href="{{ url_for('static', filename='/fonts/BukyVede-Regular.ttf') }}"
               class="link-secondary" target="_blank">
              <i class="bi bi-filetype-ttf fs-1"></i>
              <p class="link-primary">BukyVede-Regular.ttf</p>
            </a>
          </div>
        </div>


      </div>

    </div>


  </div>
{% endblock %}
