{% extends "layout.html" %}
{% block content %}
  <div class="container">
    <h2>Studies in Historical Geography and Cultural Heritage</h2>

    <p>
      New thoughts and ideas are transforming Historical Geography, as are for example Digital Humanities and a wide
      range of new methodologies (like GIS – Geographic Information System and HGIS – Historical Geographic Information
      System). Therefore, new methods and theories are increasingly and at a fast pace being applied to the Historical
      Geography of Byzantium and adjacent areas (i.e. South-East Europe and Eastern Europe).
    </p>

    <p>
      This international publication series aims to present original research in the fields of Historical Geography,
      Byzantine Studies, Medieval Studies, Balkan Studies, Archaeology, Geography, Cartography, GIS / HGIS and Cultural
      Heritage. We invite manuscripts – monographs as well as conference proceedings – from a broad range of all these
      scholarly fields, with a focus on the regions of the former Byzantine Empire, especially South-East Europe and
      Eastern Europe, and we particularly welcome interdisciplinary approaches.
    </p>

    <p>
      Contact:
      Doz. Mag. Dr. Mihailo St. Popović (Editor)

    </p>
  </div>
{% endblock %}