{% extends "layout.html" %}
{% block content %}
  <div class="container">
    <img src="{{ url_for('static', filename='/images/histgeo_logo.png') }}"
         alt="Logo Historical Geography" class="img-fluid  p-5">

    <p>
      {{ _('histgeo_intro_1') }}
    </p>
    <p>
      {{ _('histgeo_intro_2') }}
    </p>
    <h2 class="text-accent3 text-center mt-5">{{ _('Digital HistGeo Lecture Series') }}</h2>
    <p>
      {{ _('histgeo_lecture_1') }}
    </p>
    <p>
      {{ _('histgeo_lecture_2') }}
    </p>
    <p>
      {{ _('histgeo_lecture_3') }}
    </p>

    <h2 class="text-accent3 text-center mt-5">HistGeo Newsletter</h2>
    <div class="row">
      <div class="col-8">
        <p>
          {{ _('histgeo_newsletter_1') }}
        </p>
        <p>
          {{ _('histgeo_newsletter_2') }}
        </p>
        <p>
          {{ _('histgeo_newsletter_3') }}
        </p>
      <div class="text-center">
        {% for date, list in newsletters.items() %}
          <h4 class="text-primary fs-4 text-accent3 ">{{ date }}</h4>
          <div class="btn-group mb-3" role="group" aria-label="Newsletter {{ date }}">
            {% for newsletter in list %}
              <a href="{{ newsletter['url'] }}" type="button" class="btn btn-outline-accent3 text-dark" target="_blank">
                {{ _('no') | capitalize }}. {{ loop.index }} / {{ newsletter['title'] | capitalize }}
              </a>

            {% endfor %}
          </div>
        {% endfor %}
      </div>
      </div>
      <div class="col">
        <iframe src="https://t210d45f9.emailsys2a.net/180/1051/a33e665ee4/subscribe/form.html?_g=1679918436"
                width="100%" height="550"></iframe>
      </div>
    </div>

    <h2 class="text-accent3 text-center mt-5">{{ _('volumes') }}</h2>


    <h2 class="text-accent3 text-center mt-5">{{ _('Citation Rules and Fonts') }}</h2>
    <p>
      {{ _('histgeo_rules') }}
    </p>
    <div class="row">
      <div class="col text-center">
        <h3 class="text-accent3 fs-5 mt-5">{{ _('Citation Rules') }}</h3>
        <p>
          {{ _('histgeo_citation_1') }}
        </p>
        <a
            href="{{ url_for('static', filename='repository/Studies-in-Historical-Geography-and-Cultural-Heritage_Instructions.pdf' ) }}"
            class="link-secondary" target="_blank">
          <i class="bi bi-filetype-pdf fs-1"></i>
          <p class="link-primary">{{ _('Citation Rules') }}</p>
        </a>
      </div>
      <div class="col text-center">
        <h3 class="text-accent3 fs-5 text-center mt-5">{{ _('Fonts') }}</h3>
        <p>
          {{ _('histgeo_fonts_1') }}
        </p>
        <div class="row">
          <div class="col text-center">
            <a href="{{ url_for('static', filename='/fonts/BukyVede-Italic.ttf') }}"
               class="link-secondary" target="_blank">
              <i class="bi bi-filetype-ttf fs-1"></i>
              <p class="link-primary">BukyVede-Italic.ttf</p>
            </a>
          </div>
          <div class="col text-center">
            <a href="{{ url_for('static', filename='/fonts/BukyVede-Regular.ttf') }}"
               class="link-secondary" target="_blank">
              <i class="bi bi-filetype-ttf fs-1"></i>
              <p class="link-primary">BukyVede-Regular.ttf</p>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
