<!DOCTYPE html>
<html lang="{{ CURRENT_LANGUAGE }}">
<head>
  <meta charset="UTF-8">
  <title>Maps of Power</title>
  <meta name="keywords"
        content="Maps of Power, Historical Geography, History, Archeology, Digital Humanities"/>
  <meta name="description"
        content="The research initiative 'Maps of Power' serves the methodological and interdisciplinary networking of scholars from the field of Historical Geography."/>
  <meta name="author"
        content="Bernhard Koschicek-Krombholz, Mihailo Popovic"/>
  <meta http-equiv="Content-Type" content="text/html; charset = UTF-8"/>
  <link
    href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
    rel="stylesheet"
    integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD"
    crossorigin="anonymous">
  <link rel="stylesheet" href="/static/css/style.css">
  <link rel="stylesheet" href="/static/css/color.css">
  <link href="{{ url_for('static', filename='css/color.scss.css') }}"
        rel="stylesheet" type="text/css">

</head>
<body class="bg-light">
<header>
  <nav class="navbar navbar-dark bg-dark navbar-expand-lg">
    <div class="container-fluid">
      <div class="col-2">
        <a class="navbar-brand" href="{{ url_for('about') }}">
          <img src="/static/images/mop_logo.svg"
               alt="Maps of Power Logo" height="150"
               class="d-inline-block align-text-top">
        </a>
      </div>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
              data-bs-target="#navbarNavDropdown"
              aria-controls="navbarNavDropdown"
              aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse container-fluid col-8" id="navbarNavDropdown">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0 mx-auto">
          {{ request.path|display_menu|safe }}
        </ul>
      </div>
      <div class="translation list-group list-group-flush align-end d-lg-block col-2">
        {% for language in AVAILABLE_LANGUAGES.items() %}
          <div class="list-group-item bg-dark text-center">
            {% if CURRENT_LANGUAGE == language[0] %}
              <span class="fw-bold text-secondary">{{ language[1] }}</span>
            {% else %}
              <a href="{{ url_for('set_language', language=language[0]) }}"
                 class="text-decoration-none text-secondary">
                {{ language[1] }}
              </a>
            {% endif %}
          </div>
        {% endfor %}
      </div>
    </div>
  </nav>
</header>
<main>
  {% block content %}{% endblock %}
</main>
</body>
<script
  src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
  crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script>
    const navbarCollapse = document.getElementById('navbarNavDropdown');
    const myElement = document.querySelector('.translation');

    navbarCollapse.addEventListener('show.bs.collapse', function () {
        myElement.classList.add('d-none');
    });

    navbarCollapse.addEventListener('hide.bs.collapse', function () {
        myElement.classList.remove('d-none');
    });
</script>


</html>