{% macro create_table(list_, id, order_column) %}
    {% set not_shown = ['category', 'download', 'external_link'] %}
    <table id="table-{{ id }}" class="row-border table table-striped dataTable">
        <thead>
        <tr>
            {% for header in list_[0] if not header in not_shown %}
                <th>{{ _(header) | title }}</th>
            {% endfor %}
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% for item in list_ %}
            <tr>
                {% for key, value in item.items() if not key in not_shown %}
                    <td>
                        {{ value }}
                    </td>
                {% endfor %}
                <td>
                    {% if item.external_link %}
                        <a href="{{ item.external_link }}" class="text-decoration-none"
                           target="_blank">
                            <i class="bi bi-box-arrow-up-right lead link-primary p-1"></i>
                        </a>
                    {% endif %}
                    {% if item.download %}
                        <a href="{{ url_for('static', filename='repository/publications/' + item.download ) }}"
                           class="text-decoration-none">
                            <i class="bi bi-file-earmark-arrow-down lead link-primary p-1"></i>
                        </a>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <script>
        $(document).ready(function () {
            $('#table-{{ id }}').DataTable({
                "paging": true,
                "autoWidth": false,
                "columnDefs": [
                    {"width": "20%", "targets": 0},
                ],
                "ordering": true,
                "order": [[{{ order_column }}, 'desc']],
                "info": true,
                "searching": true,
                "pageLength": 10,
                buttons: [
                    {
                        extend: 'pagination',
                        className: 'btn btn-danger'
                    },
                    {
                        extend: 'colvis',
                        className: 'btn btn-warning',
                    }]
            });

        });

    </script>

{% endmacro %}
