{% extends "layout.html" %}
{% with bg='bg-dark' %}
  {% include 'navbar.html' %}
{% endwith %}
{% block title %}{{ project.title }}{% endblock %}
{% block content %}
  {% set side_nav=[
'description',
'media' if project.images or project.videos,
'explore' if project.oaID,
'results' if project.results,
'publications' if publications,
'presentations' if presentations,
] %}

  <div class="container-fluid mt-3 mb-5">
    <div class="row">
      <div id="floating-navbar" class="col-md bg-light list-group">
        {% for item in side_nav if item %}
          <a
            class="list-group-item list-group-item-action list-group-item-accent1"
            href="#{{ item }}">{{ _(item) }}</a>
        {% endfor %}
      </div>
      <div class="col-8 mx-auto position-relative" id="main-content"
           data-bs-spy="scroll" data-bs-target="#floating-navbar"
           data-bs-offset="0" tabindex="0">

        <div class="container mb-5">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item">
                <a href="{{ url_for('projects') }}"
                   class="link-primary">{{ _('projects') }}</a>
              </li>
              <li class="breadcrumb-item active" aria-current="page">
                {{ project.acronym | replace('_', ' ') }}
              </li>
            </ol>
          </nav>
        </div>
        <h1 id="description"
            class="text-primary display-5 text-center">{{ project.title }}</h1>
        <div class="row mt-5">
          <div class="col-9">
            <h4 style="display: none">{{ _('description') }}</h4>
            {% for description in project.description %}
              <p>{{ description }}</p>
            {% endfor %}
          </div>

          <div class="col-3 bg-accent2 rounded-4 text-center text-dark">
            {% if project.funded_by %}
              <div class="fw-bolder mt-2">{{ _('Funded by') }}:</div>
              <div class="container-fluid">
                {% for fund in project.funded_by %}
                  <a href="{{ fund.url }}" target="_blank">
                    <img
                      src="{{ url_for('static', filename='images/institutes/'+fund.logo) }}"
                      alt="{{ fund.name }}"
                      class="img-fluid d-flex mx-auto">
                  </a>
                {% endfor %}
              </div>
            {% endif %}

            {% if project.project_number %}
              <div class="pt-3">
                <div class="fw-bolder">{{ _('Project Number') }}:</div>
                {{ project.project_number }}
              </div>
            {% endif %}

            {% if project.begin %}
              <div class="pt-3">
                <div class="fw-bolder">{{ _('Duration') }}:</div>
                {{ project.begin }} - {{ project.end }}
              </div>
            {% endif %}

            <div class="fw-bolder mt-2">{{ _('Hosted by') }}:</div>
            <div class="container-fluid">
              {% for host in project.host_institutes %}
                <a href="{{ host.url }}" target="_blank">
                  <img
                    src="{{ url_for('static', filename='images/institutes/'+host.logo) }}"
                    alt="{{ host.name }}"
                    class="img-fluid d-flex mx-auto"
                    style="max-height: 120px;">
                </a>
              {% endfor %}
            </div>

            <div class="pt-3">
              <span class="fw-bolder">PI:</span>
              <ul class="text-decoration-none list-unstyled">
                {% for pi in project.pi %}
                  <li>{{ pi }}</li>
                {% endfor %}
              </ul>
            </div>
            {% if project.employees %}
              <div class="pt-3">
                <span class="fw-bolder">{{ _('Employees') }}:</span>
                <ul class="text-decoration-none list-unstyled">
                  {% for emp in project.employees %}
                    <li>{{ emp }}</li>
                  {% endfor %}
                </ul>
              </div>
            {% endif %}
            {% if project.cooperation %}
              <div class="pt-3">
                <span
                  class="fw-bolder">{{ _('Cooperation and External Employees') }}:</span>
                <ul class="text-decoration-none list-unstyled">
                  {% for emp in project.cooperation %}
                    <li>{{ emp }}</li>
                  {% endfor %}
                </ul>
              </div>
            {% endif %}
          </div>
        </div>
        {% if project.website %}
          <div class="row pt-5 images">
            <div class="col text-center">
              {{ _('further information') }}:
              <a href="{{ project.website }}" target="_blank"
                 class="link-primary">{{ project.website }}</a>
            </div>
          </div>
        {% endif %}

        {% if project.images or project.videos %}
          <h3 id="media" class="pt-5 text-center">
            <a href="#media"
               class="text-decoration-none link-primary">{{ _('media') }}</a>
          </h3>
          {% if project.images %}
            <div class="row pt-5 images">
              {% for img in project.images %}
                <div class="col-lg-3">
                  <figure class="figure">
                    <a
                      href="{{ url_for('static', filename='images/projects/' + project.acronym + '/' + img.src) }}"
                      data-caption="{{ img.description }}, {{ img.citation }}">
                      <img
                        src="{{ url_for('static', filename="thumbnails/" + img.src) }}"
                        alt="{{ img.src }}"
                        class="img-fluid">
                    </a>
                    <figcaption class="small text-center">
                      {{ img["description"] }}
                    </figcaption>
                  </figure>
                </div>
              {% endfor %}
            </div>
          {% endif %}

          {% if project.videos %}
            <div class="row pt-5 justify-content-center">
              {% for video in project.videos %}
                <div
                  class="col-8 justify-content-center text-center align-content-center align-items-center">
                  {{ video | safe }}
                </div>
              {% endfor %}
            </div>
          {% endif %}
        {% endif %}

        {% if project.oaID %}
          <h3 id="explore" class="pt-5 text-center">
            <a href="#explore"
               class="text-decoration-none link-primary">{{ _('explore') }}</a>
          </h3>
          <div class="row">

            <div class="pt-5">
              <div class="row justify-content-md-center">
                {% for view, values in view_classes.items() %}
                  <a
                    href="{{ url_for('project_explore_table', view=view, project=project.acronym) }}"
                    class="{{ view }}-background  rounded-3 col-md-8 col-xl-6 col-xxl-3 p-5 m-3 oa-access-tab-boxes">
                    <div class="">
                      <p class="fw-bold">{{ values['display_name'] }}</p>
                      <p class="fst-italic">{{ values['description'] }}</p>
                    </div>
                  </a>
                {% endfor %}
              </div>
            </div>
            <p class="small">
              {{ _('The access and use of our data is subject to the Creative Commons License CC BY 4.0 (<a
            href="https://creativecommons.org/licenses/by/4.0/">https://creativecommons.org/licenses/by/4.0/</a>).') }}
            </p>
          </div>
        {% endif %}

        {% if project.results %}
          <h3 id="results" class="pt-5 text-center">
            <a href="#results"
               class="text-decoration-none link-primary">{{ _('results') }}</a>
          </h3>
          {% for text in project.results['text'] %}
            <p>{{ text | safe }}</p>
          {% endfor %}
          {% if project.results['list'] %}
            <ul>
              {% for list in project.results['list'] %}
                <li>{{ list | safe }}</li>
              {% endfor %}
            </ul>
          {% endif %}
          {% if project.results['icons'] %}
            <div
              class="row align-content-center justify-content-center text-center pt-5">
              {% for link in project.results['icons'] %}
                <div class="col-3 ">
                  {% if link.link %}
                    <a href="{{ link.link }}"
                       class="text-decoration-none link-primary"
                       target="_blank">
                  {% endif %}
                  {% if link.file %}
                    <a
                      href="{{ url_for('static', filename='repository/' + link.file) }}"
                      class="text-decoration-none link-primary">
                  {% endif %}
                  <i class="{{ link.icon }} display-4 text-accent2"></i>
                  <p class="mt-1">{{ link.label }}</p>
                  </a></a>
                </div>
              {% endfor %}
            </div>
          {% endif %}
        {% endif %}

        {% if publications %}
          <h4 id="publications" class="pt-5 text-center">
            <a href="#publications"
               class="text-decoration-none link-primary">{{ _('publications') }}</a>
          </h4>
          {{ create_table(publications, 'publications', 3) }}
        {% endif %}
        {% if presentations %}
          <h4 id="presentations" class="pt-5 text-center">
            <a href="#presentations"
               class="text-decoration-none link-primary">{{ _('presentations') }}</a>
          </h4>
          {{ create_table(presentations, 'presentations', 4) }}
        {% endif %}
      </div>
      <div class="col-md">
      </div>
    </div>
  </div>

  <script>
    window.addEventListener('load', function () {
      baguetteBox.run('.images', {
        animation: 'fadeIn',
        noScrollbars: true,
        titleTag: true,
        overlayBackgroundColor: 'rgba(56,67,86, 0.8)'
      });
    });
  </script>
{% endblock %}
