{% extends "layout.html" %}
{% with bg='bg-dark' %}
  {% include 'navbar.html' %}
{% endwith %}

{% block title %}{{ project.title }}{% endblock %}
{% block content %}
  <div class="container mt-3 mb-5">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ url_for('projects') }}" class="link-primary">{{ _('projects') }}</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">{{ project.acronym }}</li>
      </ol>
    </nav>

    <h1 class="text-primary display-5 text-center">{{ project.title }}</h1>

    <div class="row mt-5">
      <div class="col-9">
        {% for description in project.description %}
          <p>{{ description }}</p>
        {% endfor %}
      </div>

      <div class="col-3 bg-accent2 rounded-4 text-center text-dark">
        <div class="fw-bolder mt-2">{{ _('Funded by') }}:</div>
        <div class="container-fluid">
          {% for fund in project.funded_by %}
            <a href="{{ fund.url }}" target="_blank">
              <img
                  src="{{ url_for('static', filename='images/institutes/'+fund.logo) }}"
                  alt="{{ fund.name }}"
                  class="img-fluid d-flex">
            </a>
          {% endfor %}
        </div>

        <div class="pt-3">
          <div class="fw-bolder">{{ _('Project Number') }}:</div>
          {{ project.project_number }}
        </div>

        <div class="pt-3">
          <div class="fw-bolder">{{ _('Duration') }}:</div>
          {{ project.begin }} - {{ project.end }}
        </div>
        <div class="pt-3">
          <span class="fw-bolder">PI:</span>
          <ul class="text-decoration-none list-unstyled">
            {% for pi in project.pi %}
              <li>{{ pi }}</li>
            {% endfor %}
          </ul>
        </div>
        <div class="pt-3">
          <span class="fw-bolder">{{ _('Employees') }}:</span>
          <ul class="text-decoration-none list-unstyled">
            {% for emp in project.employees %}
              <li>{{ emp }}</li>
            {% endfor %}
          </ul>
        </div>
        <div class="pt-3">
          <span class="fw-bolder">{{ _('Cooperation and External Employees') }}:</span>
          <ul class="text-decoration-none list-unstyled">
            {% for emp in project.cooperation %}
              <li>{{ emp }}</li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>

    <div class="row pt-5 images">
      {% for img in project.images %}
        <div class="col-lg-3">
          <figure class="figure">
            <a href="{{ url_for('static', filename='images/projects/' + project.acronym + '/' + img.src) }}"
               data-caption="{{ img.description }}, {{ img.citation }}">
              <img src="{{ url_for('static', filename="thumbnails/" + img.src) }}" alt="{{ img.src }}"
                   class="img-fluid">
            </a>
            <figcaption class="small text-center">
              {{ img["description"] }}
            </figcaption>
          </figure>
        </div>
      {% endfor %}
    </div>


    {% if project.videos %}
      <div class="row pt-5 justify-content-center">
        {% for video in project.videos %}
          <div class="col-8 justify-content-center text-center align-content-center align-items-center">
            {{ video | safe }}
          </div>
        {% endfor %}
      </div>
    {% endif %}
    {% if project.results %}
      <h3 id="results" class="pt-5 text-center">
        <a href="#results" class="text-decoration-none link-primary">{{ _('results') }}</a>
      </h3>
      {% for text in project.results['text'] %}
        <p>{{ text | safe }}</p>
      {% endfor %}
      {% if project.results['list'] %}
        <ul>
          {% for list in project.results['list'] %}
            <li>{{ list | safe }}</li>
          {% endfor %}
        </ul>
      {% endif %}
      {% if project.results['icons'] %}
        <div class="row align-content-center justify-content-center text-center pt-5">
          {% for link in project.results['icons'] %}
            <div class="col-3 ">
              {% if link.link %}
                <a href="{{ link.link }}" class="text-decoration-none link-primary"
                   target="_blank">
              {% endif %}
              {% if link.file %}
                <a href="{{ url_for('static', filename='repository/projects/' + link.file) }}"
                   class="text-decoration-none link-primary">
              {% endif %}
              <i class="{{ link.icon }} display-4 text-accent2"></i>
              <p class="mt-1">{{ link.label }}</p>
              </a></a>
            </div>
          {% endfor %}
        </div>
      {% endif %}
    {% endif %}

    {% if publications %}
      <h4 id="publications" class="pt-5 text-center">
        <a href="#publications" class="text-decoration-none link-primary">{{ _('Publications') }}</a>
      </h4>
      {{ create_table(publications, 'publications', 3) }}
    {% endif %}
    {% if presentations %}
      <h4 id="presentations" class="pt-5 text-center">
        <a href="#presentations" class="text-decoration-none link-primary">{{ _('Presentations') }}</a>
      </h4>
      {{ create_table(presentations, 'presentations', 4) }}
    {% endif %}
  </div>

  <script>
      window.addEventListener('load', function () {
          baguetteBox.run('.images', {
              animation: 'fadeIn',
              noScrollbars: true,
              titleTag: true,
              overlayBackgroundColor: 'rgba(56,67,86, 0.8)'
          });
      });
  </script>
{% endblock %}
