#bg-video {
    position: fixed;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
}

p::first-letter {
    text-transform: uppercase;
    font-size: 1.2em;
}

button::first-letter {
    text-transform: uppercase;
}

figcaption::first-letter {
    text-transform: uppercase;
    font-size: 1.2em;
}

h2::first-letter, h3::first-letter {
    text-transform: uppercase;
    font-size: 1.2em;
}

li::first-letter {
    text-transform: uppercase;
}

a {
    text-decoration: none;
    font-weight: bolder;
}

/* Hero Section */
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    background-image: linear-gradient(180deg, rgb(56, 67, 86) 10%, rgba(56, 67, 86, 0.1) 60%, rgba(255, 255, 255, 0) );
}

.hero-section {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
}

.yt-background {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
}

